:root {
  --default-width: 15px;
}
* {
  margin-left: 15px;
}
.happy-clients {
  width: 150px;
  display: flex;
}

.social-media {
  width: var(--default-width);
  display: flex;
  text-decoration: none;
}

.hero {
  position: relative;
}

.about-section {
  /* position: absolute; */
}

.hero-background {
  float: right;
}
