* {
    max-width: 500px;
    text-wrap: pretty;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-display: block;
    text-align: left;
    height: auto;
}

nav {
    background-color: darkslategray;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkcyan;
}

h1,
h2 {
    padding: 2px;
    margin: 3px 8px;
}

main img {
    width: 150px;
    height: auto;
    border: 2px solid darkslateblue;
    padding: 5px;
    margin: 1px 30px;
    box-shadow: 0 0 30px gray;
    float: right;
    display: inline-block;
}

aside img {
    width: 200px;
    height: auto;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 100%;
    background-color: lightblue;
    margin: 15px 0;
}

main p {
    color: black;
}

aside {
    max-width: 100%;
    margin: 3px auto;
    border: 2px solid gray;
    padding: 2px;
    background-color: lightgray;
    color: midnightblue;
}

footer {
    margin-top: 15px;
    border-top: 2px solid darkgray;
    background-color: lightgray;
    padding-bottom: 1px;
    text-align: center;
}

footer p {
    text-align: center;
}