nav {
    background-color: darkblue;
    padding: 10px;
}

nav a{
    background-color: darkblue;
    display: block;
    padding:20;
    color: green;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

main {
    max-width: 450px;
}


aside {
    width: 250px;
    margin: 30px;
    border: 1px solid black;
    padding: 20px;
    background-color:lightgray;
    color: blue;
    text-align: center;
}

main img{
    width: 200px;
    height: auto;

}

footer {
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: center;
}