.callout {
    max-width: 400px;
    margin: 5px;
    border: 3px;
    padding: 15px 5px;
    background-color: #224477;
    color: white;
    text-align: left;
    text-wrap: pretty;

}

.callout img {
    float: right;
    margin: 10px;
    border: 3.5px solid rgb(193, 188, 188);
    background-color: white;
    width: 25%;
    height: auto;
}

blockquote {
    margin: 5px;
}

cite {
    display: block;
    border-top: 7px;
    padding-top: 5px;
    text-align: right;
    font-size: larger;
}