* {
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    max-width: 570px;
    /* outline: 5px solid green; */
    box-sizing: border-box;
    /* outline: 5px solid orangered; */
}

header {
    background-color: #333333;
    text-align: center;
    padding: 1px;
    color: white;
}

main {
    max-width: 380px;
    text-align: left;
    margin-left: 14%;
    padding: 2px 4px;
}

main h2 {
    border-bottom: 1px solid black;
}

main h1 {
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
}

main img {
    max-width: 370px;
    height: auto;
    box-shadow: 5px -5px 10px grey;
    /* border-radius: 5px; */
}

section {
    background-color: lightgrey;
    margin-top: 25px;
    padding: 3px 14px;
    font-size: 11px;
    overflow-wrap: anywhere;
}

section p,
section li,
section a {
    padding: 2px;
    text-wrap: pretty;
    font-size: 14px;
}

footer {
    background-color: #333333;
    text-align: center;
    color: white;
    padding: 1px;
    margin-top: 30px;
}